@media (max-width: 600px) {
    main {
        width: 95vw;
    }
    p {
        font-size: .85rem;
    }
    #pointsBar {
        width: 22px;
    }
    .middle-section-box {
        width: 90%;
        max-height: 425px;
    }
    .middle-section-box {
        gap: 26px;
    }
    .points-box span:nth-child(2) {
        display: none;
    }
}